#advanced.sixteen.columns
  %h2 Advanced Usage
  %p You can go to a user's page by the following scheme:
  %code
    http://w.prls.co/u/[username]
    %br
    e.g. <a href="http://w.prls.co/u/nostresreges" target="_blank">http://w.prls.co/u/nostresreges</a>
  
  %p You can also use the following items in place of the wordcount to access a specific page:
  %table.fandoms
    - vanity_urls.each_with_index do |(key, fandom), i|
      %tr{:class => 'row_' + (i % 2 + 1).to_s}
        %td.key= key.to_s.upcase
        %td.name= fandom[:full_name]
