!!! 5
%html
  %head
    %title Fanfiction.net URL Reductor
    %meta(name='viewport' content='width=320; initial-scale=1.0; maximum-scale=2.0; user-scalable=1;')/
    = css "base.css"
    = css "skeleton.css"
    = css "layout.css"
    = css "stylesheet.css"
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19540404-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  %body
    .container
      %header
        .sixteen.columns
          %h1 Fanfiction.net URL Reductor
        .sixteen.columns
          %nav.row
            .eight.columns.alpha= link "Usage", "/synopsis"
            .eight.columns.omega= link "Advanced", "/advanced"
        .sixteen.columns
          %input#go{:type => 'text', :placeholder => 'Enter a wordcount or a query string here!', :autocapitalize => "off"}/
      %section{:data => {"pjax-container" => true}}
        = yield

    = js "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    = js "jquery.pjax.js"
    = js "application.js"
