body
  margin-top: 40px
  margin-bottom: 40px

header
  h1
    text-align: center
  nav
    .columns
      text-align: center
      a
        font-size: 140%
        text-decoration: none
  input[type='text']
    width: 100%

code
  font-size: 90%
  display: block
  font-family: monospace
  border: 1px solid #888
  background: #66aaff + #222
  padding: 10px
  margin-bottom: 10px
  margin-top: 10px

table
  width: 100%
  td
    padding: 5px
  .row_1
    background-color: #66aaff + #222
  .row_2
    background-color: #EEE

#contribute
  form
    text-align: center
