#synopsis.sixteen.columns
  %h2 Synopsis
  %code
    http://w.prls.co/[wordcount](/[fandom name])
    %br
    e.g. <a href='http://w.prls.co/20' target="_blank">http://w.prls.co/20</a> (by default, goes to Harry Potter!)

  %hr/

  %p This is a service to simplify the painful process of entering the long, complex FFN URLs on mobile devices and public computers. If you just want to read some fanfic on your iPhone, it's stinking hard to get to the fandom page, and then to set the filters to get the proper length of story.
  %p To use it, you must pass parameters to this URL to receive a proper redirect.
  %p
    The proper format is
    %br
    %code
      http://w.prls.co/[wordcount]
      %br
      http://w.prls.co/[wordcount]/[fandom_name]
  %p
    e.g.
    %br
    %code
      <a href="http://w.prls.co/20" target="_blank">http://w.prls.co/20</a>
      %br
      <a href="http://w.prls.co/40/sw" target="_blank">http://w.prls.co/40/sw</a>

  %p Wordcount is the number of words multiplied by 1000 &mdash; hence a wordcount of '20' will produce stories 20, 000 words long.
  %p The following fandom names are acceptable:
  %table.fandoms
    - fandoms.each_with_index do |(key, fandom), i|
      %tr{:class => 'row_' + (i % 2 + 1).to_s}
        %td.key= key.to_s.upcase
        %td.name= fandom[:full_name]
